<% include header.ejs %>
	
	<link rel="stylesheet" href="../css/index.css">
	<link rel="stylesheet" href="../css/more-info.css">
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/MoboTech/">MoboTech</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/MoboTech/new"> Add Tech </a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="jumbotron tac">
			<h1><%= mobile.name %></h1> 
		</div>
		<div class="info-bar">
			<img src="<%= mobile.image %>" align="left" class="info-img"/>
			<p class="desc" ><%= mobile.description %></p>
			<br clear="left"/>
			<form action="/MoboTech/<%= mobile._id %>?_method=delete" method="POST">
			<div class="btn-grp">
				<a href="/MoboTech/edit/<%= mobile._id %>"><button type="button" class="btn btn-primary btn-space" >Edit</button></a>
				<button type="submit" class="btn btn-danger btn-space" >Delete</button>
			</div>
		</div>
	</div>
<% include footer.ejs %>